{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'polls/css/reset.css' %}">
    {% endblock styles %}
    {% block scripts %}{% endblock scripts %}
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% block bootsload %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
    {% endblock bootsload %}
</head>
<body>
    {% block content %}
    <p>Hola from base</p>
    {% endblock content %}

    {% block boostend %}
        {% bootstrap_javascript jquery='full' %}
    {% endblock boostend %}
</body>
</html>