{% extends 'polls/base.html' %}
{% load static %}
{% block styles %}
{% endblock styles %}
{% block title %}Detalles{% endblock title %}
{% block bootsload %}
{{ block.super }}
{% endblock bootsload %}
{% block content %}
<form action=" {% url 'polls:vote' question.id %} " method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
            <p><strong> {{ error_message }} </strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input 
                type="radio" 
                name="choice" 
                id="choice{{ forloop.counter }}"
                value="{{ choice.id }}"
            >
            <label for="choice{{ forloop.counter }}">
                {% if choice.votes > 0 %}
                    {{ choice.choice_text }} - ({{ choice.votes }})
                {% else %}
                    {{ choice.choice_text }}                
                {% endif %}
                
            </label>
            <br>
        {% endfor %}
    </fieldset>
    <input class="btn btn-primary" type="submit" value="Vote">
</form>
<a href="{% url 'polls:index' %}"><button>Home</button></a>
{% endblock content %}
{% block bootsend %}
{{ block.super }}
{% endblock bootsend %}