body {
    background: #000 url("../images/background.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li a {
    color: #0f0;
}